.App {
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}
.header{
  background-color: #8ecae6;
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
  gap:1rem;
  margin-top:15%;
  border: solid #023047 4px;
  padding:2rem;
  border-radius:30px;
}
button{
  width:10rem;
  height:2rem;
  border-radius: 20px;
  font-size:15px;
  border: solid black 1px;
  background-color:#f0d48c;
  font-weight:bold;
  margin-right:auto;
  margin-left:auto;
}
button:hover{
  background-color:  #f2a144;
}
label{
  color:#023047;
  font-weight: bold;
  font-size:1.5rem;
}
h3{
  color: #ca7718;
  font-size:1.5rem;
}
input{
  width:15rem;
  margin-right:auto;
  margin-left:auto;
  height:2rem;
  border: solid #023047 3px;
  font-size:17px;
  text-align:center;
}
@media (max-width:1024px){
  .header{
    margin-top:30%;
  }
}